* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: 'Georgia', serif;
  background-color: #f5ebdd;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;

  background-image: url("./assets/bg3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  opacity: 0.3; 

  z-index: -1;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

html {
  scrollbar-width: none;
}